body{
	color: #000000;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
}
ul{
	list-style: none;
}
img{
	max-width: 100%;
}
@font-face{
	font-family: Gilroy-extrabold ;
	src: url(fonts/gilroy/Gilroyextrabold.ttf);
}
@font-face{
	font-family: Gilroy-light;
	src: url(fonts/gilroy/Gilroylight.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(fonts/open_sans/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Regular;
	src: url(fonts/open_sans/OpenSans-Regular.ttf);
}
header{
    height: 299px;
    width: 1160px;
    background-color: #F0C52E;
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
}
.site-navigation a:hover,
.site-navigation-1 a:hover{
opacity: 0.6;
}
.site-navigation a:active,
.site-navigation-1 a:active{
	opacity: 0.3;
}
.search{
	border: none;
	opacity: 0.3;
}
.search:hover{
	border: none;
	opacity: 0.6;
}
.search:focus{
	border: none;
	opacity: 1;	 
}
.search:active{
	border: none;
	opacity: 1;
}
.categories{
	font-family: Gilroy-extrabold,sans-serif ;
    font-size: 18px;
	line-height: 24px;
	opacity: 1;
}
.categories a:hover{
	font-size: 18px;
	line-height: 24px;
	opacity: 0.6;
}	
.categories a:active{
	font-size: 18px;
	line-height: 24px;
	opacity: 0.3;
}	
.main-header-logo:hover{
	opacity: 0.6;
}
.main-header-logo:active{
	opacity: 0.3;
}
.site-navigation a{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.site-navigation-1 a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.footer-logo{
	opacity: 1;
}
.footer-logo:hover{
	opacity: 0.6;
}
.footer-logo:active{
	opacity: 0.3;
}
.footer-navigation{
	opacity: 0.7;
}
.footer-navigation a:hover{
	opacity: 1;
}
.footer-navigation a:active{
	opacity: 0.3;
}
.footer-navigation-1 a{
	opacity: 1;
}
.footer-navigation-1 a:hover{
	opacity: 0.6;
}
.footer-navigation-1 a:active{
	opacity: 0.3;
}
.heading{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 47px;
	line-height: 56px;
}
.description{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.wrapper a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.options{
	font-family: Gilroy-light;
	font-size: 38px;
	line-height: 48px;
}
.designation{
	font-family: OpenSans-Light;
	font-size: 13px;
	line-height: 20px;
}
.button-slider button{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
	border: none;
}
.slide h2{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 47px;
	line-height: 48px;
}
.slide p{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.info h3{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 47px;
	line-height: 48px;
}
.info p{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.info li{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 16px;
	line-height: 40px;
}
.info a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.contacts h3{
	font-family: Gilroyextrabold, sans-serif;
	font-size: 47px;
	line-height: 48px;
}
.contacts p{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.contacts a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
} 
.footer-navigation a{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 36px;
}
.footer-navigation-1 a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.footer-address{
    font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.footer-phone{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.main-header-logo{
	position: absolute;
	top: 23px;
	left: 198px;
}
.site-navigation{
	position: absolute;
	display: flex;
	top: 92px;
	left: 767px;
	width: 500px;
}
.site-navigation::before{
	background-image: url(/Users/ekaterina/Documents/GitHub/1164801-device-26/img/user.svg);
	width: 13px;
	height: 12px;
	display: inline-block; 
}

