body{
	color: #000000;
	margin: 0;
}
a{
	text-decoration: none;
	color: #000000;
}
img{
	max-width: 100%;
}
@font-face{
	font-family: Gilroy-extrabold ;
	src: url(fonts/gilroy/Gilroyextrabold.ttf);
}
@font-face{
	font-family: Gilroy-light;
	src: url(fonts/gilroy/Gilroylight.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(fonts/open_sans/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Regular;
	src: url(fonts/open_sans/OpenSans-Regular.ttf);
}
.main-header-logo:hover{
	opacity: 0.6;
}
.main-header-logo:active{
	opacity: 0.3;
}
.search{
	border: none;
	opacity: 0.3;
}
.search:hover{
	border: none;
	opacity: 0.6;
}
.search:focus{
	border: none;
	opacity: 1;	 
}
.search:active{
	border: none;
	opacity: 1;
}
.site-search{
	opacity: 0;
	border: none;
}
.site-navigation a:hover,
.site-navigation-1 a:hover{
	opacity: 0.6;
}
.site-navigation a:active,
.site-navigation-1 a:active{
	opacity: 0.3;
}
.breadcrumbs a{
	list-style: none;
	opacity: 0.3;
}
.breadcrumbs a:hover{
	opacity: 0.6;
}
.breadcrumbs a:active{
	opacity: 0.1;
}

ul,
.filter{
	list-style: none;
}
.site-navigation a{ 
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.user{
	opacity: 0.3;	
}
.user:hover{
	opacity: 0.6;
}	
.user:active{
	opacity: 1;
}	
.site-navigation-1 a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.breadcrumbs a{
	font-family: OpenSans-Light;
	font-size: 14px;
	line-height: 24px;
}
.visually-hidder{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 47px;
	line-height: 48px;

}
.visually-hidder-1{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.cost{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;  
	line-height: 24px;
}
.color{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px; 
	line-height: 24px;
}
ul,
.cost{
	font-family: OpenSans-Light;
	font-size: 14px; 
	line-height: 39px;
}
.Bluetooth1{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
ul,
.Bluetooth{
	font-family: OpenSans-Light;
	font-size: 14px; 
	line-height: 40px;
}
.filter-button{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px; 
	line-height: 22px;
	border: none;
} 

.filter-button:hover{
	height: 40px;
	width: 200px;
	opacity: 1;	
}

.filter-button:active{	
	opacity: 0.3;
}
.footer-logo{
	opacity: 1;
}
.footer-logo:hover{
	opacity: 0.6;
}
.footer-logo:active{
	opacity: 0.3;
}
.footer-navigation{
	font-family: OpenSans-Light;
	font-size: 15px; 
	line-height: 36px;
	opacity: 0.7;
}
.footer-navigation a:hover{
	opacity: 1;
}
.footer-navigation a:active{
	opacity: 0.3;
}
.footer-navigation-1 a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px; 
	line-height: 24px;
	opacity: 1;
}
.footer-navigation-1 a:hover{
	opacity: 0.6;
}
.footer-navigation-1 a:active{
	opacity: 0.3;
}	
.categories button{
	opacity: 0.3;
	border: none;
}
.categories button:hover{
	opacity: 0.6;
	border: none;
}
.categories button:active{
	opacity: 1;
	border: none;
}
.pagination-list a{
	opacity: 0.3;
}	
.pagination-list a:hover{
	opacity: 0.6;
}	
.pagination-list a:active{
	opacity: 1;
}	
.pagination-list button{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 16px; 
	line-height: 24px;
	border: none;
}
.pagination-list button:hover{
	background: #979797;
	height: 70px;
	width: 137px;
	font-size: 16px; 
	line-height: 24px;
	border: none;
}
.pagination-list button:active{
    background: #979797;
	height: 70px;
	width: 137px;
	font-size: 16px; 
	line-height: 24px;
	border: none;	
}
.back:active{
    opacity: 0.3;
}
.forward:active{
	opacity: 0.3;
}
.filter-button p:active{
    opacity: 0.3;
}
.footer-phone{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.footer-address{
	font-family: OpenSans-Light;
	font-size: 15px;
	line-height: 30px;
}
.catalog h3{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 18px; 
	line-height: 24px;
}
.pagination-list a{
	font-family: Gilroy-extrabold, sans-serif;
	font-size: 16px; 
	line-height: 24px;
}
.catalog p{
	font-family: OpenSans-Light;
	font-size: 16px;
	line-height: 24px;
}
	
	



